@import "../presets";

@media (max-width: 780px) {
  #home {
    @include flexLayout(column);
    height: 120vh;
    background: $background-prim;

    .hiddenMobile {
      display: none;
    }
    #head {
      @include flexLayout(row);
      @include row(center);

      #head-text {
        margin: auto;
        font: $weight-sec 1.2rem $font-sec;
        color: #07316bcb;
      }
    }
    #main {
      height: 100%;
      margin-bottom: 1rem;

      #desc {
        @include gridCenter;
        padding: 2rem 2rem;
        .desc {
          font: $weight-tet 1rem $font-fam;
        }
      }
      #list {
        @include flexLayout(column);
        position: relative;
        top: 3rem;
        gap: 2rem;
        padding: 1.2rem;
        margin-bottom: 1rem;

        .list-nav {
          @include flexLayout(row);
          @include row(space-between);
          @include column(center);
          gap: 0.8rem;
          padding: 1.5rem;
          border-radius: 0.4rem;
          box-shadow: 0 6px 12px hsl(0, 0%, 50%);

          .list-fac {
            font: $weight-sec 1rem $font-sec;
            color: hsl(0, 0%, 20%);
          }
          .icon1 {
            font-size: 1.8rem;
          }
          .icon2 {
            font-size: 1.2rem;
          }
          .one,
          .three {
            color: rgba(14, 115, 197, 0.822);
          }
          .two,
          .four {
            color: #379383;
          }
        }
      }
    }
    #foot {
      @include flexLayout(column);
      @include column(center);
      width: 100%; /* would traverse it to the right unordely */
      position: fixed;
      bottom: 0;
      background-color: $background-init;

      #foot-nav {
        @include flexLayout(column);
        @include column(center);
        width: 20%;
      }
      #foot-text {
        margin-bottom: 0.2rem;
        font: $weight-sec 1.15rem $font-sec;
      }
      #foot-style {
        width: 4rem;
        height: 0.38rem;
        margin-bottom: 0.2rem;
        border-radius: 0.5rem;
        background-color: #07316bcb;
      }
    }
    #foot-nav:focus #foot-text,
    #foot-nav:hover #foot-text {
      color: #379383;
    }
  }
}
@media (min-width: 1024px) {
  #home {
    height: 100vh;
    background: $background-prim;

    #head {
      @include flexLayout(row);
      @include row(space-between);
      padding: 0 1rem;

      #head-text {
        font: $weight-sec 1rem $font-sec;
        color: #093c83e8;
      }
      #homeBtn {
        margin: auto 0;
        padding: 0.4rem 0.65rem;
        border: 1px solid hsl(0, 0%, 80%);
        border-radius: 0.8rem;
        font: $weight-sec 0.76rem $font-sec;
      }
      #homeBtn:hover,
      #homeBtn:focus {
        border: 0.9px solid transparent;
        // background: #093c83e8;
        /* testing out bootstrap colors scheme here*/
        background: #5cb85c;
        color: hsla(0, 0%, 100%, 0.966);
        outline: none;
        transition: all 0.3s ease-in;
      }
    }
    #main {
      @include flexLayout(column);
      @include column(center);
      gap: 1rem;
      width: 50%;
      height: 80%;
      margin: 0.5rem auto;
      padding: 1rem;
      border-radius: 0.5rem;
      background: hsl(0, 0%, 99%);
      box-shadow: 0.1rem 0.2rem 0.2rem 0.1rem hsl(0, 0%, 94%);
      overflow: hidden;

      #bg-image {
        /* The image used */
        background: url(../assets/images/class.jpg);
        border-radius: 0.5rem;
        // border: 1px solid rgba(41, 41, 41, 0.527);
        /* Add the blur effect */
        filter: blur(1px);
        -webkit-filter: blur(0.78px);
        /* Full height */
        height: 62%;
        width: 50%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% auto;
        position: absolute;
        top: 8%;
        z-index: 1;
      }

      #desc {
        height: 80%;
        width: 70%;
        font: 500 0.89rem $font-sec;
        padding: 0.8rem;
        line-height: 2;
        position: relative;
        z-index: 99;

        .desc {
          // width: 100%;
          background: hsla(0, 0%, 0%, 0.377);
          color: hsl(0, 0%, 94%);
          padding: 0.3rem;
          border-radius: 0.3rem;
        }
      }
      #list {
        @include flexLayout(row wrap);
        @include row(space-between);
        width: 450px;
        height: 20%;
        padding: 0.5rem 0;
        // gap: .4rem;

        .list-nav {
          @include flexLayout(row);
          @include row(space-between);
          @include column(center);
          padding: 1rem 0.3rem;
          height: 30%;
          width: 48%;
          border: 1px solid hsl(0, 0%, 80%);
          border-radius: 0.6rem;

          .icon1 {
            @include gridCenter;
            font-size: 1.2rem;
            color: #093c83e8;
          }
          .icon2 {
            @include gridCenter;
            font-size: 1rem;
            color: #093c83e8;
          }
          .list-fac {
            font: $weight-sec 0.8rem $font-sec;
          }
        }
        .list-nav:hover {
          transition: all 0.4s ease;
          // background-color: #093c83e8;
          background-color: #0275d8;
          color: hsl(0, 0%, 94%);

          .list-fac,
          .icon1,
          .icon2 {
            color: hsl(0, 0%, 92%);
          }
        }
      }
    }
    #foot {
      display: none;
    }
  }
}
