@import "../presets";

@media (max-width: 780px) {
  #home {
    @include flexLayout(column);
    height: 100vh;
    background: $background-prim;

    #head {
      @include flexLayout(row);
      @include row(space-between);

      .home {
        display: none;
      }

      #head-title {
        @include gridCenter;
        font: $weight-sec 1.2rem $font-sec;
        color: #07316bcb;
      }
      #burger {
        margin: auto 0;
        font-size: 1.7rem;
        color: #07316be1;
      }

      #menu {
        @include flexLayout(column);
        gap: 0.5rem;
        position: absolute;
        top: 3.5rem;
        right: 0.3rem;
        border: 1px solid hsla(215, 88%, 22%, 0.4);
        border-radius: 0.38rem;
        box-shadow: 0 6px 8px hsla(215, 88%, 22%, 0.4);
        background: hsl(0, 0%, 98%);

        .menu-routes {
          font: $weight-tet 1rem $font-sec;
        }
      }
    }
    #main {
      @include flexLayout(column);

      .center {
        padding: 4rem 2rem;
      }
    }
    #foot {
      background: $background-prim;
      position: fixed;
      bottom: 0;
      left: 40%;

      #foot-style {
        @include flexLayout(column);
        gap: 2px;

        #foot-text {
          font: $weight-sec 1.15rem $font-sec;
          text-align: center;
        }
        #span {
          width: 4rem;
          height: 0.38rem;
          border-radius: 0.4rem;
          background: #07316bcb;
        }
        #span:hover {
          background: #379383;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  #home {
    overflow: hidden;
    
    #head {
      @include flexLayout(row);
      @include row(space-between);
      padding: 0 1rem;

      .home {
        @include gridCenter;
        margin: auto 0;
        padding: .4rem .5rem;
        border: 1px solid hsla(0, 0%, 0%, 0.212);
        border-radius: .78rem;
        font: $weight-sec .86rem $font-sec;
        
      }
      .home:hover,
      .home:focus {
        border: 0.9px solid transparent;
        background: #5cb85c;
        color: hsla(0, 0%, 100%, 0.904);
        outline: none;
        transition: all 0.3s ease-in;
      }

      #head-title {
        display: none;
      }
      #burger {
        display: none;
      }
      #menu {
        display: flex !important;
        flex-direction: row;
        @include row(flex-end);

        .active {
          
          border-bottom: 2px solid #5cb85c;
        }
        .navbar-item{
          font: $weight-sec .8rem $font-sec;
        }
      }
    }
    #main {
      @include gridCenter;
      height: 100vh;
      padding: 1rem;
      background: $background-prim;
      overflow: hidden;
      
      .center {
        width: 50%;
        height: 85%;
        margin-bottom: 5%;
        padding: 1.2rem 5rem;
        border-radius: 0.5rem;
        background: hsl(0, 0%, 99%);
        font: 500 0.89rem $font-sec;
        line-height: 2.5;
        box-shadow: 0.1rem 0.2rem 0.2rem 0.1rem hsl(0, 0%, 94%);
      }
    }
    #foot {
      display: none;
    }
  }
}
