@import "./presets";

@media (max-width: 500px) {
  #sticky {
    @include flexLayout(row);
    @include row(space-around);
    gap: 1rem;
    position: fixed;
    z-index: 99;
    bottom: 0;
    right: 0;
    width: 100%;
    background: hsl(0, 0%, 100%);

    .navbar-item:focus,
    .navbar-item:active {
      border-top: 2px solid #135bbf;

      .icons {
        font-size: 1.5rem;
      }
    }
    .icons {
      font-size: 1.5rem;
    }
    .one{
      color: #4dd48a;
    }
    .two{
      color: #fc4445;
    }
    .three{
      color: rgb(243, 181, 24);
    }
  }
}
@media (min-width: 1024px) {
    #sticky {
      display: none;
    }
}
