@import "./presets";

@media (max-width: 780px) {
  #head {
    @include flexLayout(row);
    background: hsl(0, 0%, 100%);
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    width: 100%;

    #dropdown {
      display: none;
    }

    #icon {
      @include gridCenter;

      #burger {
        font-size: 1.8rem;
        color: #07316bcb;
      }
    }
    #icon:hover {
      background: #07316bef;

      #burger {
        color: #fff;
      }
    }
    #mytitle {
      margin: auto;
      position: relative;
      right: 5rem;
      font: $weight-sec 1.26rem $font-fam;
      color: #07316bcb;
    }
    #my-magic {
      display: none;
    }
    .myNavbar-menu {
      @include flexLayout(column);
      @include column(center);
      gap: 2rem;
      padding: 2rem;
      width: 100%;
      height: 300px;
      border-bottom-right-radius: 0.6rem;
      position: absolute;
      top: 3.5rem;
      background: hsla(208, 67%, 14%, 0.822);

      #navbar-item {
        border: 0.5px solid hsla(0, 0%, 100%, 0.514);
        color: hsla(0, 0%, 100%, 0.945);
        font: $weight-tet 1rem $font-sec;
      }
      #navbar-item:active,
      #navbar-item:hover {
        color: hsl(0, 0%, 10%);
        font: $weight-sec 1rem $font-sec;
      }
    }
  }
}
@media (min-width: 1024px) {
  #head {
    @include flexLayout(row);
    padding: 0 1rem;
    position: relative;
    z-index: 98;

    #mytitle {
      margin: auto;
      font: $weight-sec 1.26rem $font-fam;
      color: #07316bcb;
    }
    // my magic area lies here
    #dropdown {
      @include flexLayout(column);
      margin-left: 30%;
      gap: 1.5rem;

      #dropdown-links {
        @include flexLayout(row);
        @include column(center);
        gap: 1rem;
        position: relative;
        top: 0.7rem;

        .links {
          margin: auto;
          padding: 0.4rem;
          border: 1px solid hsla(209, 67%, 14%, 0.699);
          border-radius: 0.6rem;
          font: $weight-sec 0.8rem $font-sec;
          color: hsl(0, 0%, 10%);
          cursor: pointer;
        }
        
      }
      .dropdown-items {

        #dropdown-videos {
          flex-direction: column;
          gap: 2rem;
          min-height: 30rem;
          max-height: 30rem;
          width: 80%;
          border: 1px solid hsla(0, 0%, 20%, 0.26);
          border-bottom-right-radius: 0.5rem;
          border-bottom-left-radius: 0.5rem;
          border-top: none;
          padding: 4rem;
          background: rgba(250, 250, 250, 0.774);
          position: absolute;
          top: 3.4rem;
          right: 10%;
          z-index: 99;

          #title {
            font: $weight-sec 1.2rem $font-sec;
            color: #07316bcb;
          }
          #vid-info {
            font: $weight-tet 0.83rem $font-sec;
            line-height: 1.5rem;
            word-spacing: 2px;
            width: 50%;
          }
          #video-section {
            @include flexLayout(row);
            @include row(flex-start);
            @include column(center);
            gap: 2rem;

            .section-cards {
              @include flexLayout(column);
              @include row(center);
              @include column(flex-start);
              padding: 0 0.5rem;
              border: 2px solid hsla(210, 67%, 14%, 0.521);
              border-radius: 0.4rem;
              gap: 2rem;
              width: 12.5rem;
              height: 100px;
              background: hsl(0, 0%, 98%);
              cursor: pointer;

              #route {
                font: $weight-sec 0.79rem $font-sec;
                color: #07316bcb;
              }
              .card-icon {
                font-size: 0.8rem;
                text-align: left;
              }
              .one {
                color: rgb(194, 19, 19);
              }
              .two {
                color: rgb(97, 82, 14);
              }
              .three {
                color: rgb(5, 146, 5);
              }
            }
            .section-cards:hover {
              transform: scale(0.98);
              transition: all 0.5s ease-out;
            }
          }
        }
        #dropdown-assist {
          flex-direction: column;
          gap: 2rem;
          min-height: 30rem;
          max-height: 30rem;
          width: 80%;
          border: 1px solid hsla(0, 0%, 20%, 0.26);
          border-bottom-right-radius: 0.5rem;
          border-bottom-left-radius: 0.5rem;
          border-top: none;
          padding: 4rem;
          background: rgba(250, 250, 250, 0.774);
          position: absolute;
          top: 3.5rem;
          right: 10%;
          z-index: 99;
    
          #title {
            font: $weight-sec 1.2rem $font-sec;
            color: #07316bcb;
          }
    
          #assist-info {
            font: $weight-tet 0.83rem $font-sec;
            line-height: 1.5rem;
            word-spacing: 2px;
          }
    
          #social-icons {
            @include flexLayout(row);
            @include row(flex-start);
            @include column(center);
            gap: 3rem;
            margin-top: 2.5rem;
    
            .social-icon-navs {
              @include flexLayout(column);
              @include row(center);
              @include column(center);
              border: 2px solid hsla(209, 67%, 14%, 0.699);
              border-radius: 0.4rem;
              gap: 2rem;
              width: 12rem;
              height: 90px;
              cursor: pointer;
    
              .route {
                font: $weight-sec 0.79rem $font-sec;
                color: #07316bcb;
              }
    
              .icons {
                font-size: 1.5rem;
              }
              .one {
                color: #0a4392cb;
              }
              .two {
                color: green;
              }
            }
            .social-icon-navs:hover {
              transform: scale(0.98);
              transition: all 0.5s ease-out;
            }
          }
        }
        .hideVideos {
          display: none;
        }
        .hideAssist {
          display: none;
        }
        .showVideos {
          display: flex;
        }
        .showAssist {
          display: flex;
        }
      }
    }

    #myNavbar-menu {
      @include flexLayout(row);
      gap: 1.5rem;

      #navbar-item {
        margin: auto 0;
        border: 0.9px solid hsla(209, 67%, 14%, 0.699);
        border-radius: 0.8rem;
        font: $weight-sec 0.8rem $font-sec;
        color: hsl(0, 0%, 10%);
      }
      #navbar-item:hover,
      #navbar-item:focus {
        border: hidden;
        background: #093c83e8;
        color: hsla(0, 0%, 100%, 0.966);
        outline: none;
      }
    }
  }
}
