@import "./presets";

@media (max-width: 500px) {
  .home {
    ::-webkit-scrollbar {
      display: none;
    }
    .hiddenMobile {
      display: none;
    }
    #main {
      @include flexLayout(column);
      gap: 1rem;
      height: 140vh;
      background: hsl(0, 0%, 93%);
      max-width: 100%;
      padding: 2rem 0;

      #mainImage {
        display: none;
      }
      #svg1 {
        position: fixed;
        bottom: 23%;
        left: -45%;
        right: 0;
        width: 47rem;
        z-index: 92;
        overflow-x: hidden;
      }
      #svg-2 {
        position: fixed;
        top: 55%;
        left: 55%;
        right: 0;
        width: 20rem;
        z-index: 92;
        overflow-x: hidden;
      }

      #main-section {
        @include flexLayout(column);
        // background-color: $background-prim;
        gap: 1rem;
        padding: 3rem 2rem;
        position: relative;
        z-index: 94;

        #mainImg {
          background: url(../assets/unn.jpg);
          /* blurry effects */
          filter: blur(0.2px);
          -webkit-filter: blur(0.78px);
          width: 100%;
          height: 55vh;
          background-size: cover;
          position: absolute;
          top: -2%;
          right: 0.1%;
          z-index: 1;
        }
        .cover {
          position: relative;
          z-index: 95;
          background: rgba(0, 0, 0, 0.171);
          padding: 0.4rem;
          border-radius: 0.3rem;
        }
        #greets {
          font: $weight-sec 1.2rem $font-fam;
          color: rgba(255, 255, 255, 0.829);
        }
        #info {
          font: $weight-tet 0.9rem $font-fam;
          color: rgba(255, 255, 255, 0.829);
          line-height: 1.8;
          // position: relative;
          // z-index: 95;
        }
        #date {
          position: relative;
          top: 3rem;
          font: 500 1rem $font-sec;
          color: rgba(255, 255, 255, 0.829);
          // position: relative;
          // z-index: 95;
        }
      }
      #scroll-section {
        @include flexLayout(row);
        @include column(center);
        background: transparent;
        // background: $background-prim;
        gap: 1rem;
        padding: 4rem 2rem;
        min-height: 350px;
        overflow-x: scroll;
        overflow-y: hidden;
        position: relative;
        z-index: 96;

        .main-cards {
          @include flexLayout(column);
          @include row(flex-end);
          gap: 2rem;
          border-radius: 0.5rem;
          height: 260px;
          min-width: 220px;
          padding: 1rem;
          margin-top: 5rem;
          box-shadow: 3px 3px 4px 4px #07316b4b;
          background-color: hsla(0, 0%, 100%, 0.911);
          position: relative;
          z-index: 99;
          bottom: 3rem;

          #svg2 {
            position: absolute;
            bottom: -1.7rem;
            left: -1.8rem;
            width: 15.9rem;
            height: 300px;
            z-index: 2;
          }
          #svg3 {
            position: absolute;
            bottom: -3.3rem;
            left: -3rem;
            width: 18.5rem;
            height: 300px;
            z-index: 2;
          }
          #svg4 {
            position: absolute;
            bottom: -1.2rem;
            left: -5rem;
            width: 20rem;
            height: 300px;
            z-index: 2;
          }

          #card-icon {
            position: relative;
            bottom: 40%;
            font-size: 1.2rem;
            color: #07316bcb;
          }
          h3 {
            font: $weight-sec 1.1rem $font-fam;
            color: rgba(255, 255, 255, 0.925);
            position: relative;
            z-index: 98;
          }
          #proceed {
            width: 50%;
            border-radius: 0.4rem;
            border: 3px solid #aa101094;
            background: hsl(0, 0%, 100%);
            font: $weight-tet 0.8rem $font-sec;
            color: #790909;
            text-align: center;
            position: relative;
            z-index: 98;
          }
          #proceed:active,
          #proceed:focus {
            background: #aa1010;
            outline: none;
            color: $background-prim;
          }
        }
      }
      #ad-sec1 {
        @include flexLayout(column);
        @include column(center);
        padding: 3rem 2rem;
        gap: 2rem;
        position: relative;
        z-index: 95;

        h4 {
          font: $weight-sec 1.2rem $font-fam;
          color: #aa1010;
        }
        p {
          font: $weight-tet 0.9rem $font-sec;
          color: #000;
          line-height: 1.5;
        }
        img {
          width: 100%;
          height: 100px;
        }
      }
      #hidden-section {
        @include flexLayout(column);
        gap: 1rem;
        margin: 0.5rem;
        padding: 0 1rem;

        #desc {
          font: $weight-sec 1rem $font-fam;
        }
        #slim-cards {
          @include flexLayout(row wrap);
          // @include row(center);
          padding: 1.5rem;
          gap: 1rem;
        }
      }
    }
  }
}
@media (min-width: 1024px) {
  html {
    background: $background-prim;
  }
  .home {
    // height: 100vh;
    background: $background-prim;
    // overflow: hidden;

    #svg1,
    #svg2,
    #svg3,
    #svg4 {
      display: none;
    }
    .hiddenDesktop {
      display: none;
    }
    #main {
      @include flexLayout(row wrap);
      @include row(space-between);
      // flex-wrap: wrap;
      // height: 100vh;
      max-width: 80%;
      margin: 0 auto;
      gap: 2rem;
      padding: 2rem;

      #main-section {
        @include flexLayout(column);
        gap: 1rem;
        max-height: 40rem;
        width: 50%;
        padding: 0.5rem;
        background: hsl(0, 0%, 97%);
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        box-shadow: 0.2rem 0.3rem 0.6rem 0.2rem hsl(0, 0%, 92%);

        .hiddenDesktop {
          display: none;
        }
        .cover {
          @include flexLayout(column);
          gap: 1rem;
          outline: 1px solid hsl(0, 0%, 80%);
          border-radius: 0.5rem;
        }
        #greets {
          width: 40%;
          padding: 0.3rem;
          font: $weight-sec 1.2rem $font-sec;
          color: rgb(161, 49, 20);
        }
        #info {
          padding: 0.4rem;
          font: $weight-tet 0.89rem $font-sec;
          line-height: 2;
          background: rgba(226, 225, 225, 0.5);
        }
        #date {
          width: 38%;
          padding: 0.2rem;
          border: 1px solid hsl(0, 0%, 80%);
          border-radius: 0.5rem;
          background: hsl(0, 0%, 0%, 0.5);
          position: relative;
          bottom: 17rem;
          left: 1%;
          text-align: center;
          font: $weight-sec 0.8rem $font-sec;
          color: hsl(0, 0%, 80%);
        }

        // img {
        //   width: 90% 100%;
        //   height: 100%;
        // }
      }
      #scroll-section {
        @include flexLayout(column);
        @include row(space-around);
        @include column(center);
        gap: 0.5rem;
        height: 28rem;
        width: 40%;
        border-radius: 0.8rem;
        border: 1px solid hsla(0, 0%, 0%, 0.4);
        background: hsl(0, 0%, 98%);
        // box-shadow: 0.1rem 0.2rem 0.2rem 0.1rem hsl(0, 0%, 93%);
        overflow: hidden;

        #scrollImage {
          /* The image used */
          background: url(../assets/images/gradFinals.jpg);
          border-top-left-radius: 0.8rem;
          border-top-right-radius: 0.8rem;
          // border: 1px solid rgba(41, 41, 41, 0.527);
          /* Add the blur effect */
          filter: blur(1px);
          -webkit-filter: blur(0.78px);
          /* Full height */
          height: 100%;
          width: 100vw;
          /* Center and scale the image nicely */
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100% auto;
          position: relative;
          top: -1%;
        }
        p {
          padding: 0.4rem 1rem;
          font: $weight-sec 0.8rem $font-sec;
          line-height: 2;
        }
        .main-cards {
          @include flexLayout(row);
          @include row(center);
          @include column(center);
          gap: 3rem;
          width: 21rem;
          height: 2rem;
          border-radius: 0.8rem;
          border: 1px solid hsla(0, 0%, 18%, 0.479);
          //
          background-color: rgb(0, 0, 0); /* Fallback color */
          background-color: rgba(
            0,
            0,
            0,
            0.4
          ); /* Black w/opacity/see-through */
          color: white;
          font-weight: bold;
          // border: 1px solid rgba(0, 0, 0, 0.705);
          position: absolute;
          z-index: 2;
          padding: 20px;
          text-align: center;

          #card-icon {
            @include gridCenter;
            padding: 0.4rem;
            border-radius: 0.7rem;
            border: 1px solid hsl(0, 0%, 80%);
          }
          h3 {
            // padding: 1rem;
            font: $weight-sec 0.8rem $font-sec;
          }
          #proceed {
            padding: 0.4rem;
            border-radius: 0.89rem;
            border: 1px solid hsl(0, 0%, 80%);
            font: $weight-sec 0.78rem $font-sec;
            color: #0c499e;
          }
          #proceed:hover {
            border: 0.9px solid transparent;
            background: #093c83e8;
            color: hsla(0, 0%, 100%, 0.966);
            outline: none;
            transition: all 0.3s ease-in;
          }
        }
        .main-cards:hover {
          transition: all 0.25s ease-in;
          background-color: rgba(0, 0, 0, 0.9);
        }
        #card1 {
          // position: absolute;
          top: 8rem;
          left: 72.5%;
          transform: translate(-50%, -50%);
        }
        #card2 {
          // position: absolute;
          top: 13rem;
          left: 72.5%;
          transform: translate(-50%, -50%);
        }
        #card3 {
          // position: absolute;
          // background-color: rgba(0, 0, 0, 0.7);
          top: 18rem;
          left: 72.5%;
          transform: translate(-50%, -50%);
        }
      }
      #ad-sec1 {
        @include flexLayout(column);
        @include row(space-around);
        gap: 0.8rem;
        // @include column(center);
        height: 50%;
        width: 50%;
        padding: 0.5rem;
        position: relative;
        top: 2%;
        background: hsl(0, 0%, 97%);
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        // box-shadow: 0.1rem 0.2rem 0.2rem 0.1rem hsl(0, 0%, 95%);
        box-shadow: 0.2rem 0.3rem 0.6rem 0.2rem hsl(0, 0%, 92%);

        #title {
          width: 60%;
          font: $weight-sec 1.2rem $font-sec;
          color: rgb(161, 49, 20);
        }
        .cover {
          @include flexLayout(column);
          gap: 1rem;
          outline: 1px solid hsl(0, 0%, 80%);
          border-radius: 0.5rem;
        }
        #info {
          padding: 0.4rem;
          font: $weight-tet 0.89rem $font-sec;
          line-height: 2;
          background: rgba(226, 225, 225, 0.5);
        }
        #ad-link {
          width: 50%;
        }
      }
    }
  }
}
